{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Waste to Wonder | Him Village E-Prahari{% endblock %}</title>

    <!-- Global CSS -->
    <link rel="stylesheet" href="{% static 'merchandise/css/home.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body>

<!-- NAVBAR -->
<nav>
<!-- ADD NAVBAR HERE -->NAVBAR HERE
</nav>

<!-- PAGE CONTENT -->
<main>
    {% block content %}{% endblock %}
</main>

<!-- FOOTER -->
<footer>
<!-- ADD FOOTER HERE -->
</footer>

<!-- Global JS -->
{% block extra_js %}{% endblock %}

</body>
</html>
